@import "tailwindcss";

:root {
  --primary-color: #4da8da;
  --secondary-color: #7f8caa;
  --primary-color-dark: #27548a;
  --background-color: #FAF6E9;
  --text-color: #333333;
  --text-color-light: #ffffff;
}

html {
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}



.container {
  max-width: 84rem;
  width: 100%;
  margin: 0 auto;
  
}

.text-error {
  color: #e74c3c;
  font-weight: 500;
  font-size: 0.875rem;
}

.text-success {
  color: #2ecc71;
  font-weight: 500;
  font-size: 0.875rem;
}



@layer base {
   @keyframes slide {
    0% { transform: translateX(0.5rem) }
    100% { transform: translateX(5.5rem) }
  }
  .animate-slide {
    animation: slide 1s infinite alternate;
  }
}